<html xmlns="http://www.w3.org/1999/html">

<body>
<form action="/login/" method="post">
    {% csrf_token %}
<table align="center" border="2" >
<tr>       <th> Registration Form </th> </tr>
<tr> <td> <input type="text" placeholder="user name" required name="uname"> </td></tr>
<tr> <td> <input type="password" placeholder="password" required name="pwd"> </td></tr>
<tr> <td align="center"> <button type="submit"> Login </button> </td></tr>

</table>
    {% if newmessage %}
    <span>  {{ newmessage }}</span>
    {% endif %}
</form>
</body>
</html>