{% load staticfiles %}
<html>
<body>


<form action="/logout/">
    <table align="center" border="2">

 <tr> <td align="center" colspan="2"> <h2 style="color: orangered">    Ragipani Aravind  </h2> </td></tr>
        <tr> <td> <img src="{%  static 'images/arvind.jpg' %}" width="320" height="300"> </td>
          <td>  <img src="{%  static 'images/arvind1.jpg' %}" width="220" height="300"></td>
        </tr>
    <tr> <td align="center" style="color: green" colspan="2"> Working as developer in Genpact(pocharam)</td></tr>
        <tr> <td align="center" colspan="2"> Address: H.No: 3-1-32 old ramanthapur Hyd-13</td></tr>
        <tr> <td colspan="2" align="center"> Heght: 5.9 </td></tr>
        <tr> <td colspan="2" align="center"> Education: M.Sc</td></tr>
        <tr> <td colspan="2" align="center" style="color: green"> Short Film Hero </td></tr>
        <tr> <td colspan="2" align="center"> Dance choreographer</td></tr>

<tr> <td align="center" colspan="2"> <button type="submit" > Logout </button> </td></tr>

        </table>
</form>


</body>
</html>